<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
          <!--rel="stylesheet"/>-->
    <!--<link href="../../css/style.css" rel="stylesheet"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<!--</head>-->
<!--<body>-->
    <div class="container">
        <div>
            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>

            <h1>Login</h1>
            <form ng-submit="model.login(model.user.username, model.user.password)">
            <input type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   placeholder="username"/>

            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   placeholder="password"/>

            <button class="btn btn-primary btn-block">Login</button>

            <a class="btn btn-success btn-block"
               href="#!/register">Register</a>
            </form>

        </div>
    </div>
<!--</body>-->
<!--</html>-->