<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-text pull-left">
        <a href="#!/user/{{model.userId}}/following">
            <span class = "glyphicon glyphicon-chevron-left "></span>
        </a>
    </div>

    <div class="navbar-form pull-right">
        <a class="btn btn-danger btn-block"
           href="#!/">Logout</a>
    </div>


    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="white_color x-large_font_size">Critic Search</span>
        </a>
    </div>

</nav>

<h2>Search For Critic By Username</h2>
<input placeholder="bob"
       ng-model="model.criticUsername"
       id="searchByTitleFld"
       class="form-control">
<br/>
<button id="searchByTitleBtn"
        ng-click="model.searchCriticByUsername(model.criticUsername)"
        class="btn btn-block btn-primary">
    Search
</button>

<table class="table">
    <tr>
        <td>
            Follow Critic:
            <a ng-show="model.critics.username"
               ng-click="model.addCritic(model.critics._id)"
               class = "btn btn-success">

                {{model.critics.username}}

            </a>
        </td>
    </tr>
</table>

<div>
    <ul class="list-group">
        <li class="list-group-item active">
           Critic List
        </li>
        <li class="list-group-item" ng-repeat="critics in model.allCritics">
            {{critics.username}}
        </li>

    </ul>
</div>



<div ng-show="model.errorMessage" class="alert alert-danger">
    {{model.errorMessage}}
</div>
