<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>review-List</title>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
<!--rel="stylesheet"/>-->
<!--<link href="../../css/bootstrap.css" rel="stylesheet"/>-->
<!--<link href="../../css/style.css" rel="stylesheet"/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--</head>-->
<!--<body>-->

<!-- Header -->


<!--***************NEED TO REFACTOR HREFS******************-->


<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-text pull-left">
            <a href="#!/user/criticReviewList/{{model.reviewerId}}/">
                <span class="glyphicon glyphicon-chevron-left white_color"></span>
            </a>
        </div>

        <!--<div class="navbar-text pull-right">-->
            <!--<a href="#!/user/{{model.userId}}/review/new">-->
                <!--<span class="glyphicon glyphicon-plus white_color"></span>-->
            <!--</a>-->
        <!--</div>-->

        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="white_color x-large_font_size">Review Details</span>
            </a>
        </div>

    </div>

</nav>

<div class="container-fluid">
    <div ng-bind-html="model.trustThisContent(model.reviewDescription.reviewtext)">
    </div>

    <!--<br/>-->
    <br/>
    <div>
        <h5>Rating: {{model.reviewDescription.rating}}</h5>
    </div>
    <!--{{model.reviewDescription.rating}}-->

</div>



<nav class="navbar navbar-inverse navbar-fixed-bottom container-fluid">

    <div class="navbar-text pull-right">
        <a ng-click="model.toProfile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>

<!--</body>-->
<!--</html>-->