.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}


.indexheader {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 16%;
}


body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    padding-top: 70px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

ol.jga-horizontal {
    /*
    padding-left: 330px;
    padding-top: 40px;
    */
    width: 600px;
    margin:auto;
}
ol.jga-horizontal li {
    display: inline;
    padding: 20px;
}

