input.form-control {
    margin-bottom: 5px;
}
/*
body {
    padding-top: 36px;
} */

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.margins {
    margin-left: 15px;
    margin-right: 15px;
}


.indexheader {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
}



body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    padding-top: 70px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

ol.jga-horizontal {
    /*
    padding-left: 330px;
    padding-top: 40px;
    */
    width: 600px;
    margin:auto;
}
ol.jga-horizontal li {
    display: inline;
    padding: 20px;
}

/* colors
Used:
profile.view.client.html
website-list.view.client.html
website-new.view.client.html
website-edit.view.client.html
page-edit.view.client.html
page-new.view.client.html
page-list.html
widget-heading.view.client.html
*/
.white_color {
    color: white;
}

.black_color {
    color: black;
}



.footer_color {
    color: #428bca;
}

/* Extra large Font size
Used:
profile.view.client.html
website-list.view.client.html
website-new.view.client.html
website-edit.view.client.html
page-edit.view.client.html
page-new.view.client.html
page-list.html
widget-heading.view.client.html
 */
.x-large_font_size {
    font-size: x-large;
}

/* used in widget-heading.view.client.html */
.dropdown_width {
    width: 100%;
}


.ok-add_pixels_to_right {
    margin-right: 15px;
}

.vr {
    width:1px;
    background-color:#000;
    position: absolute;
    top:0;
    bottom:0;
    left: 315px;
}

.ok-split-view-left {
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .col-lg-9.ok-split-view-right {
        width: 75%;
        right: 0px;
        position: absolute;
        overflow-y: scroll;
    }
}