<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-btn pull-right">
        <a class="btn btn-danger btn-block"
           href="#!/">Logout</a>
    </div>

    <div class="navbar-text pull-left">
        <a ng-click="model.toProfile()">
            <span class = "glyphicon glyphicon-chevron-left "></span>
        </a>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="white_color x-large_font_size">Search Movies</span>
        </a>
    </div>

</nav>

<h2>Search by Movie Title</h2>
<input placeholder="titanic"
       ng-model="movieTitle"
       id="searchByTitleFld"
       class="form-control">
<br/>
<button id="searchByTitleBtn"
        ng-click="model.searchMovieByTitle(movieTitle)"
        class="btn btn-block btn-primary">
    Search
</button>

<!--<table class="table">-->
    <!--<tr ng-repeat="movie in model.movies.Search">-->
        <!--<td>-->
            <!--<a href="#!/user/details/{{movie.imdbID}}">-->
                <!--{{movie.Title}}-->
            <!--</a>-->
        <!--</td>-->
        <!--<td>-->
            <!--<img ng-src="{{movie.Poster}}"/>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->

<div class="hidden-xs">
    <table class="table">
        <tr ng-repeat="movie in model.movies.Search">
            <td>
                <a href="#!/user/details/{{movie.imdbID}}">
                    {{movie.Title}}
                </a>
            </td>
            <td>
                <img ng-src="{{movie.Poster}}"/>
            </td>
        </tr>
    </table>
</div>

<div class="visible-xs">
    <ul class="list-group">
        <li ng-repeat="movie in model.movies.Search" class="list-group-item">
            <a href="#!/user/details/{{movie.imdbID}}">
                {{movie.Title}}
            </a>
            <img ng-src="{{movie.Poster}}"/>
        </li>
    </ul>
</div>



<nav class="navbar navbar-inverse navbar-fixed-bottom">

            <div class="navbar-btn pull-right btn">
                <a ng-click="model.toProfile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>

</nav>