<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" ng-app="WebAppMaker">&ndash;&gt;-->
    <!--&lt;!&ndash;<head>&ndash;&gt;-->
        <!--&lt;!&ndash;<meta charset="UTF-8">&ndash;&gt;-->
        <!--&lt;!&ndash;<title>Assignment Home Page</title>&ndash;&gt;-->
        <!--&lt;!&ndash;<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"&ndash;&gt;-->
              <!--&lt;!&ndash;rel="stylesheet"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<body background="images/assignmennt-index-background.jpg"></body>&ndash;&gt;-->
        <!--&lt;!&ndash;<link href="css/style.css" rel="stylesheet"/>&ndash;&gt;-->

        <!--&lt;!&ndash;&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="vendor/angular.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="vendor/angular-route.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="app.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="config.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<scriprereview.service.client.jservice.client.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="services/website.service.client.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="services/user.service.client.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash;<script src="services/widget.service.client.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">&ndash;&gt;-->

    <!--&lt;!&ndash;</head>&ndash;&gt;-->

    <!--&lt;!&ndash;<body>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; Navigation bar at the top &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<nav class="navbar navbar-inverse navbar-fixed-top container-fluid">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; Login button on top right &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<form class="navbar-form navbar-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="/assignment/index.html#!/login"&ndash;&gt;-->
                   <!--&lt;!&ndash;class="btn btn-success btn-block">Login</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;</nav>&ndash;&gt;-->

        <!--&lt;!&ndash;&lt;!&ndash; Header &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<h1 class="indexheader">&ndash;&gt;-->
            <!--&lt;!&ndash;Welcome to WebApp Maker!</h1>&ndash;&gt;-->

    <!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->


<!--<html>-->
    <!--<head>-->


        <!--<body>-->
    <!--&lt;!&ndash;<h4>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#!/login">Home</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</h4>&ndash;&gt;-->

        <!--&lt;!&ndash; Navigation bar at the top &ndash;&gt;-->
        <!--<nav class="navbar navbar-inverse navbar-fixed-top container-fluid">-->
        <!--&lt;!&ndash; Login button on top right &ndash;&gt;-->
        <!--<form class="navbar-form navbar-right">-->
        <!--<a href="#!/login"-->
        <!--class="btn btn-success btn-block">Login</a>-->
        <!--</form>-->
        <!--</nav>-->

        <!--&lt;!&ndash; Header &ndash;&gt;-->
        <!--<h1 class="indexheader">-->
        <!--Welcome to WebApp Maker!</h1>-->


    <!--</body>-->
    <!--</head>-->

<!--</html>-->