<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<script src="../vendor/angular.js"></script>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
          <!--rel="stylesheet"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>&ndash;&gt;-->

<!--</head>-->
<!--<body>-->
<div class="container">

    <div ng-controller="loginController">

        <div ng-show="welcomeUser" class="alert alert-info">
            Welcome back {{welcomeUser.username}}
        </div>

        <div ng-show="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>

        <h1>Login</h1>

        <input type="text"
               class="form-control"
               name="username"
               ng-model="user.username"
               placeholder="username"/>
        <input type="password"
               name="password"
               ng-model="user.password"
               class="form-control"
               placeholder="password"/>
        <a class="btn btn-primary btn-block"
           ng-click="login(user)">Login</a>
        <a class="btn btn-success btn-block"
           href="register.html">Register</a>
    </div>

</div>
<!--</body>-->
<!--</html>-->