<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!--<meta charset="UTF-8">-->
        <!--<title>Widget List</title>-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
              <!--rel="stylesheet"/>-->
        <!--<link href="../../css/style.css" rel="stylesheet"/>-->
        <!--<link href="../../css/bootstrap.css" rel="stylesheet"/>-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--</head>-->
    <!--<body>-->
        <!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="blog-masthead">
                <div class="container-fluid">

                    <div class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/{{model.websiteId}}/page">
                            <span class = "glyphicon glyphicon-chevron-left white_color"></span>
                        </a>
                    </div>

                    <div class="navbar-text pull-right">
                        <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/widget/new">
                            <span class="glyphicon glyphicon-plus white_color"></span>
                        </a>
                    </div>

                    <div class="navbar-header">
                        <a class="navbar-brand">
                            <span class="white_color x-large_font_size">Widgets</span>
                        </a>
                    </div>

                </div>
            </div>
        </nav>

        <div class="container-fluid">

            <div ng-repeat="widget in model.widgets" class="wd-widget">


                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HEADING" ng-switch="widget.size">
                        <div class="wd-toolbar">
                            <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/{{widget._id}}/HEADER">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <h1 ng-switch-when="1">{{widget.text}}</h1>
                        <h2 ng-switch-when="2">{{widget.text}}</h2>
                        <h3 ng-switch-when="3">{{widget.text}}</h3>
                        <h4 ng-switch-when="4">{{widget.text}}</h4>
                        <h5 ng-switch-when="5">{{widget.text}}</h5>
                        <h6 ng-switch-when="6">{{widget.text}}</h6>
                    </div>

                    <div ng-switch-when="IMAGE">
                        <div class="wd-toolbar">
                            <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/{{widget._id}}/IMAGE">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <img ng-src="{{widget.url}}" width="{{widget.width}}"/>

                    </div>

                    <div ng-switch-when="YOUTUBE">
                        <div class="wd-toolbar">
                            <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/{{widget._id}}/YOUTUBE">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <iframe width="{{widget.width}}" height="315" src="{{model.getYouTubeUrl(widget.url)}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div ng-switch-when="HTML">

                        <div class="wd-toolbar">
                            <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/{{widget._id}}/HTML">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>

                        <div ng-bind-html="model.trustThisContent(widget.text)"></div>

                    </div>

                </div>

            </div>

            <br/>
            <br/>
            <br/>
            <br/>


        </div>

        <!-- Footer -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="blog-masthead">
                <div class="container-fluid">
                    <div class="navbar-text pull-right">
                        <a href="#!/profile/{{model.userId}}">
                            <span class="glyphicon glyphicon-user white_color"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

    <!--</body>-->
<!--</html>-->