<form>
    <div class="form-group">
        Name
        <br/>
        <select class="dropdown_width" ng-model="model.widget.type">
            <option value="HTML">HTML</option>
        </select>

    </div>

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

</form>

