<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!--<meta charset="UTF-8">-->
        <!--<title>Widget Youtube</title>-->
        <!--&lt;!&ndash;<link href="css/bootstrap.css" rel="stylesheet"/> &ndash;&gt;-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
              <!--rel="stylesheet"/>-->
        <!--<link href="../../css/style.css" rel="stylesheet"/>-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--</head>-->
    <!--<body>-->

        <!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="blog-masthead">
                <div class="container-fluid">

                    <div class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/widget/new">
                            <span class = "glyphicon glyphicon-chevron-left white_color"></span>
                        </a>
                    </div>

                    <div class="navbar-text pull-right">
                        <a ng-click="model.createWidget(widget)" role="button">
                            <span class="glyphicon glyphicon-ok white_color"></span>
                        </a>
                    </div>

                    <div class="navbar-header">
                        <a class="navbar-brand">
                            <span class="white_color x-large_font_size">Widget Edit</span>
                        </a>
                    </div>

                </div>
            </div>
        </nav>

        <div class = "container">
            <form>
                <div class="form-group">
                    Name
                    <br/>
                    <select class="dropdown_width" ng-model="widget.widgetType">
                        <option value="YOUTUBE">YOUTUBE</option>
                    </select>
                </div>

                <div class="form-group">
                    Text
                    <input
                            type="text"
                            ng-model="widget.text"
                            class="form-control"
                            placeholder="Text"/>
                </div>

                <div class="form-group">
                    URL
                    <input
                            type="url"
                            ng-model="widget.url"
                            class="form-control"
                            placeholder="URL"/>
                </div>

                <div class="form-group">
                    Width
                    <br/>
                    <select class="dropdown_width" ng-model="widget.width">
                        <option value="10%">10%</option>
                        <option value="20%">20%</option>
                        <option value="30%">30%</option>
                        <option value="40%">40%</option>
                        <option value="50%">50%</option>
                        <option value="60%">60%</option>
                        <option value="70%">70%</option>
                        <option value="80%">80%</option>
                        <option value="90%">90%</option>
                        <option value="100%">100%</option>
                    </select>
                </div>

            </form>
        </div>

        <!-- Footer -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="blog-masthead">
                <div class="container-fluid">
                    <div class="navbar-text pull-right">
                        <a href="#!/profile/{{model.userId}}">
                            <span class="glyphicon glyphicon-user white_color"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

    <!--</body>-->
<!--</html>-->