<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
    <!--<head>-->
        <!--<meta charset="UTF-8">-->
        <!--<title>Widget Chooser</title>-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
              <!--rel="stylesheet"/>-->
        <!--<link href="../../css/style.css" rel="stylesheet"/>-->
        <!--<link href="../../css/bootstrap.css" rel="stylesheet"/>-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <!--</head>-->
    <!--<body>-->
        <!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="blog-masthead">
                <div class="container-fluid">

                    <div class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/widget">
                            <span class = "glyphicon glyphicon-chevron-left white_color"></span>
                        </a>
                    </div>

                    <div class="navbar-header">
                        <a class="navbar-brand">
                            <span class="white_color x-large_font_size">Choose Widget</span>
                        </a>
                    </div>

                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <ul class="nav nav-sidebar">
                <li><a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/widget/new/header">
                    Header</a></li>
                <li><a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/widget/new/image">
                    Image</a></li>
                <li><a href="#!/user/{{model.userId}}/{{model.websiteId}}/{{model.pageId}}/widget/new/youtube">
                    YouTube</a></li>
            </ul>
        </div>

        <!-- Footer -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="blog-masthead">
                <div class="container-fluid">
                    <div class="navbar-text pull-right"
                    >
                        <a href="#!/profile/{{model.userId}}">
                            <span class="glyphicon glyphicon-user white_color"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

    <!--</body>-->
<!--</html>-->