<!--Header-->
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-form pull-left">
        <a href="#!/user/details/{{model.imdbId}}">
            <span class = "glyphicon glyphicon-chevron-left "></span>
        </a>
    </div>

    <div class="navbar-form pull-right">
        <a class="btn btn-danger btn-block"
           href="#!/">Logout</a>
    </div>


    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="white_color x-large_font_size">Movie Details</span>
        </a>
    </div>

</nav>





<!--Footer-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">

    <div class="navbar-text pull-right">
        <a ng-click="model.toProfile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>