<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-text pull-left">



        <a ng-click="model.toProfile()">

            <span class = "glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>

    <div class="navbar-btn pull-right">
        <a class="btn btn-danger btn-block"
           href="#!/">Logout</a>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="white_color x-large_font_size">Critic Search</span>
        </a>
    </div>

</nav>

<h2>Favorites</h2>

<table class="table">
    <tr ng-repeat="movie in model.movieArray">
        <td>
                {{movie.Title}}
        </td>
        <td>
            <img ng-src="{{movie.Poster}}"/>
        </td>
        <td>
            {{movie.Plot}}
        </td>
        <td>
            <a class="glyphicon glyphicon-trash" ng-click="model.deleteMovie(movie.imdbID)"></a>
        </td>
    </tr>
</table>