<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="blog-masthead">
        <div class="container-fluid">

            <div class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/review">
                    <span class="glyphicon glyphicon-chevron-left white_color"></span>
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a ng-click="model.newReview(model.review)" role="button">
                    <span class="glyphicon glyphicon-ok white_color"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand">
                    <span class="white_color x-large_font_size">New Review</span>
                </a>
            </div>

        </div>
    </div>
</nav>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 ok-split-view-right">

    <form>
        <label for="Name">
            Name
        </label>
        <input id="Name"
               ng-model="model.review.reviewname"
               type="text"
               class="form-control"
               placeholder="Name">
        <br/>
        <label for="Description">
            Description
        </label>
        <!--<textarea class="form-control"-->
                  <!--ng-model="model.review.reviewtext"-->
                  <!--id="Description"-->
                  <!--rows="5"-->
                  <!--placeholder="Description"></textarea>-->

        <div ng-model="model.review.reviewtext"
             text-angular
             id="Description"
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>

        <br/>
        <label for="Rating">
            Rating
        </label>
        <select id="Rating" class="dropdown_width" ng-model="model.review.rating">
            <option value="1">1:Garbage</option>
            <option value="2">2:Poor</option>
            <option value="3">3:Average</option>
            <option value="4">4:Good</option>
            <option value="5">5:Excellent</option>
        </select>

    </form>

</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom container-fluid">

    <div class="navbar-text pull-right">
        <a ng-click="model.toProfile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>
